# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~
src/weights.mat
src/midpoint.fig

#Generated graphs
src/RNN/*.fig
src/RNN/2Layer/*.fig
src/TwoLayer/graphs
src/TwoLayer/*.mat

#Windows temp files
*~*
