.background {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

h1 {
	color: #ffffff;
	z-index: 100;
	display: block;
	text-align: center;
	margin: 5px;
}

.graph {
	margin-left: auto;
   margin-right: auto;
	display: block;
	padding-bottom: 10px;
}

p {
	text-align: center;
	margin: 0;
	color: #000000;
}

.two-cols {
	width: 50%;
	float: left;
	margin-bottom: 10px;
}

#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	padding:10px;
	background:#5ee;
}
#content {
	padding-bottom:140px;   /* Height of the footer element */
}
#footer {
   border-radius: 25px;
	width:80%;
	height:120px;
	position:absolute;
	bottom:0;
	left:0;
	margin: 0px 10%;
}